table,
td,
th {
    position: relative;
    margin-bottom: 580px;
}

.table-striped{
    align-content: center;
    margin-right: -40px;
    width: 100%;

}

.container{
    margin-top: 80px;
    width: 100%;
}